body {
    background-color: blue;
}

.Top-links {
    border: 5px solid black;
    padding: 5px;
    margin: 10px;
 }

h1 {
    font-size: 50px;
    
}

.pink-box {
    text-decoration: none;
    background-color: plum;
}